:host::ng-deep {
  .sidebar {
    background-color: #0b0722 !important; /* Fondo oscuro y elegante */
    color: #ffffff !important;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15); /* Sombra suave */
    border-right: 2px solid #050213 !important; /* Borde oscuro */
    padding: 10px 0; /* Mantengo el espacio interior */
    border-left: 6px  solid #2d00f7;
  }

  .sidebar:hover {
    background-color: #070025 !important; /* Gradiente más oscuro en hover */
  }

  c-sidebar-brand {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 16px 0 !important;
    background: rgba(0, 0, 0, 0.1); /* Fondo sutil */
    border-radius: 5px; /* Bordes redondeados */
    border: 2px solidrgba(0, 0, 0, 0.1); /* Borde blanco alrededor del contenedor */
    margin: 10px 0; /* Un poco de espacio entre el borde y la imagen */
  }

  .sidebar-logo {
    width: 80%;      /* Hace que la imagen ocupe todo el espacio disponible */
    height: auto;     /* Mantiene la proporción de la imagen */
    display: block;
    margin: 0 auto;
    padding: 0 !important; /* Elimina cualquier padding alrededor */
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.3)); /* Sombra pronunciada */
    transition: filter 0.3s ease;
  }

  .sidebar-logo:hover {
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.4)); /* Aumenta la sombra al pasar el ratón */
  }

  /* Bordes para header y footer del sidebar */
  .sidebar-header {
    padding: 0; /* Más espacio en los bordes */
    border-bottom: 2px solid #ffffff !important;
    padding-bottom: 16px;
  }

  .sidebar-footer {
    border-top: 2px solid #e8efe9 !important;
    padding-top: 16px;
  }

  .sidebar a,
  .sidebar .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    border-radius: 4px; /* Bordes ligeramente redondeados */
  }

  .sidebar a:hover,
  .sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    color: #ffe600 !important;
    border-radius: 6px; /* Bordes redondeados */
  }

  .sidebar-header,
  .sidebar-footer {
    background-color: transparent !important;
    color: #ffffff !important;
    padding: 0; /* Más espacio en los bordes */
  }

  .sidebar svg {
    fill: #f0f0f0 !important;
  }

  .sidebar svg:hover {
    fill: #ffe600 !important; /* Cambio de color en hover */
  }

  .ng-scrollbar {
    --scrollbar-thumb-color: #ffffff99;
    --scrollbar-thumb-hover-color: #ffffffcc;
  }
}
